// app global css in SCSS form
a {
  color: $primary;
  text-decoration: none;
}

.card-item-list-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 10px 10px;
}

.card-item {
  flex: 0 0 auto;
}

.card-item-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
